section.library {
  max-width: 80%;
  margin: 0 auto;
}

div#album-columns {
  display: flex;
  text-align: center;
}


.library-album-section {
  padding-bottom: 1rem;
}

.library-album-info {
  text-align: center;
  font-size: 1rem;
  color: rgb(65, 153, 153);
}

a:hover.library-album-info {
  text-decoration: none;
  color: rgb(46, 19, 46);
}

.img-responsive {
  margin: 0 auto;
}

.library-album-artist {
  font-size: 1.25rem;
  padding-top: .5rem;
}
